/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-38e4e702-p8rccuyb
 *                                 	 
 ******************************************************************************************************/
	 .style-38e4e702-2fxkvzeu .style-38e4e702-p8rccuyb .preview-title-holder  {
		
						text-align: left;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-p8rccuyb.master.item-box   {
		
						position: relative;
						background-color: rgb(255, 255, 255);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-p8rccuyb .preview-item-links span:hover  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-p8rccuyb .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						background-color: rgba(147, 147, 147, 0);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-p8rccuyb.master.item-box   {
		
						padding-left: 6%;
						width: 88%;
						padding-right: 6%;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-p8rccuyb .preview-item-links  {
		
						text-align: center;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-p8rccuyb  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						max-width: 2000px;
						margin-right: 0px;
						margin-top: 0px;
						margin-left: 0px;
						background-color: rgba(0, 0, 0, 0);
						text-align: left;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-p8rccuyb .preview-item-links span  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-p8rccuyb #sr-basket-widget *  { 
						font-size: 12px;
						text-transform: uppercase;
						color: rgb(0, 0, 0);
						padding-bottom: 20px;
						border-color: rgba(255, 255, 255, 0.670588);
						letter-spacing: 0.2em;
						max-width: 1150px;
						padding-right: 10px;
						padding-left: 10px;
						padding-top: 20px;
						font-family: Abel;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-p8rccuyb .preview-title  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-p8rccuyb .preview-body h1  { 
						font-size: 16px;
						color: rgb(232, 232, 232);
						letter-spacing: 0.05em;
						font-weight: bold;
						margin-left: 10px;
						font-family: Raleway;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-p8rccuyb .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-p8rccuyb .preview-divider  {
		
						border-bottom-width: 1px;
						width: 10%;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-p8rccuyb .preview-item-links span:before  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-p8rccuyb .effect-tester  { 
						background-color: rgb(181, 181, 181);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-p8rccuyb .preview-subtitle-holder  {
		
						text-align: left;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-p8rccuyb .stripe-background  {
		
						margin-left: -6%;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-p8rccuyb .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						margin-bottom: 0px;
						margin-top: 0px;
						width: 70px;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-p8rccuyb  .preview-content-wrapper  {
		
						vertical-align: bottom;
						text-align: left;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-p8rccuyb .middle_layout .helper-div  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-p8rccuyb .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-p8rccuyb .preview-subtitle  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-p8rccuyb .preview-body h2  { 
						font-size: 12px;
						color: rgb(152, 152, 152);
						letter-spacing: 0.05em;
						margin-right: 0px;
						margin-top: 5px;
						margin-left: 10px;
						font-family: Arial;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-38e4e702-oh29f8nf
 *                                 	 
 ******************************************************************************************************/
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf  .preview-content-holder  {
		
						margin-right: 0px;
						padding-bottom: 0px;
						text-align: left;
						max-width: 850px;
						padding-right: 0px;
						margin-top: 30px;
						margin-left: 0px;
						padding-top: 0px;
						margin-bottom: 30px;
						background-color: rgba(230, 210, 80, 0);
						padding-left: 0px;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .preview-divider  {
		
						border-style: solid;
						border-color: rgb(255, 255, 255);
						border-bottom-width: 1px;
						margin-top: 10px;
						margin-bottom: 10px;
						width: 15%;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .inner-pic  {
		
						opacity: 0.96;
						color: rgb(255, 255, 255);
		    			-webkit-filter: brightness(0.6);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .preview-subtitle-holder  {
		
						max-width: 650px;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						padding-right: 6%;
						width: 88%;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .background-div  {
			
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf.master.item-box   {
		
						background-color: rgb(0, 0, 0);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .preview-title  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .preview-body h1  { 
						font-family: 'Playfair Display';
						font-size: 50px;
						text-transform: uppercase;
						color: rgb(255, 255, 255);
						letter-spacing: 0.0em;
						margin-top: 10px;
						margin-bottom: 10px;
						line-height: 1.1em;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .preview-item-links span  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf #sr-basket-widget *  { 
						font-family: Arial;
						font-size: 15px;
						padding-right: 30px;
						color: rgb(255, 255, 255);
						padding-bottom: 20px;
						border-color: rgb(255, 255, 255);
						letter-spacing: 0.1em;
						margin-right: 5px;
						margin-top: 25px;
						padding-left: 30px;
						border-radius: 22px;
						padding-top: 20px;
						margin-bottom: 25px;
						border-width: 0px;
						background-color: rgb(26, 54, 99);
						margin-left: 5px;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .stripe-background  {
		
						opacity: 0.61;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .preview-element.icon-source  {
		
						width: 140px;
						margin-bottom: 15px;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .background-image-div  {
		
						color: rgb(255, 255, 255);
						opacity: 1;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .preview-link-img  {
		
						width: 41px;
						margin: 6px;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .preview-icon-holder  {
		
						margin-bottom: 40px;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .preview-body-holder  {
		
						max-width: 800px;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf  .preview-content-wrapper  {
		
						text-align: left;
						vertical-align: middle;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .preview-item-links span:hover  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						background-color: rgb(0, 0, 0);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .preview-item-links span:before  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .effect-tester  { 
						background-color: rgb(0, 0, 0);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .preview-body  {
		
						font-family: Arial;
						font-size: 15px;
						color: rgb(255, 255, 255);
						max-width: 1000px;
						margin-top: 10px;
						margin-bottom: 30px;
						line-height: 1.6em;	
		}
	
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .preview-social-holder  {
		
						margin-bottom: 10px;
						margin-top: 10px;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .middle_layout .helper-div  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .preview-subtitle  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-oh29f8nf .preview-body h2  { 
						line-height: 1.4em;
						font-size: 12px;
						text-transform: uppercase;
						color: rgb(255, 255, 255);
						letter-spacing: 0.2em;
						margin-right: 0px;
						margin-top: 5px;
						margin-left: 0px;
						margin-bottom: 10px;
						font-family: Abel;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-38e4e702-oh29f8nf #vbid-38e4e702-fynow1lc .preview-content-holder{
				
							text-align : center;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-q7u8gvxh .preview-content-holder{
				
							text-align : center;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-bqsppf8z .preview-content-holder{
				
							text-align : center;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-drhsgswy .preview-content-holder{
				
							text-align : center;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-l1dbp4jh .preview-content-holder{
				
							text-align : center;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-dgce07no .preview-content-holder{
				
							text-align : center;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-zcfdbcvg .preview-content-holder{
				
							text-align : left;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-h7spa78v .preview-content-holder{
				
							text-align : left;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-nyzlzuyj .preview-content-holder{
				
							text-align : center;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-tjxjka8z .preview-content-holder{
				
							text-align : center;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-ywcaol97 .preview-content-holder{
				
							text-align : center;
					
				}


 .style-38e4e702-oh29f8nf #vbid-38e4e702-ry5eezz8.inner-pic{
				
							background-size : contain;
					
							background-position : 50% 50%;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-qypauq3b.inner-pic{
				
							background-position : 40.6865% 31.5728%;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-zyomdgiq.inner-pic{
				
							background-position : 44.4619% 25.4274%;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-dzjkhnvr.inner-pic{
				
							background-position : 47.0449% 12.9383%;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-nuxfhrp7.inner-pic{
				
							background-size : cover;
					
							background-position : 29% 19%;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-wpevybc4.inner-pic{
				
							background-position : 51.7764% 40.3226%;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-luoybyk5.inner-pic{
				
							background-position : 50.4775% 65.6531%;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-hnrdtlfv.inner-pic{
				
							background-size : 143%;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-hkgvh74h.inner-pic{
				
							background-position : 45.5068% 38.9316%;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-vpuqlaic.inner-pic{
				
							background-position : 48.2968368530273% 17.8304233551025%;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-rai60rv7.inner-pic{
				
							background-position : 52.9258% 100%;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-zwef7xu3.inner-pic{
				
							background-size : cover;
					
							background-position : 31.5622% 47.7852%;
					
				}













 .style-38e4e702-oh29f8nf #vbid-38e4e702-fynow1lc .preview-content-wrapper{
				
							text-align : center;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-q7u8gvxh .preview-content-wrapper{
				
							text-align : center;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-bqsppf8z .preview-content-wrapper{
				
							text-align : center;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-drhsgswy .preview-content-wrapper{
				
							text-align : center;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-l1dbp4jh .preview-content-wrapper{
				
							text-align : center;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-dgce07no .preview-content-wrapper{
				
							text-align : center;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-zcfdbcvg .preview-content-wrapper{
				
							text-align : left;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-h7spa78v .preview-content-wrapper{
				
							text-align : left;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-nyzlzuyj .preview-content-wrapper{
				
							text-align : center;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-tjxjka8z .preview-content-wrapper{
				
							text-align : center;
					
				} .style-38e4e702-oh29f8nf #vbid-38e4e702-ywcaol97 .preview-content-wrapper{
				
							text-align : center;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-38e4e702-dtv8a0mt
 *                                 	 
 ******************************************************************************************************/
	 .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt.master.item-box   {
		
						background-color: rgb(0, 0, 0);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt .preview-title  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt .preview-body h1  { 
						font-size: 16px;
						text-transform: uppercase;
						color: rgb(255, 255, 255);
						letter-spacing: 0.3em;
						margin-right: 20px;
						margin-top: 5px;
						margin-left: 20px;
						margin-bottom: 10px;
						font-family: Abel;
						background-color: rgba(11, 11, 11, 0);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt .preview-link-img  {
		
						width: 24px;
						margin: 8px;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt.master.item-box   {
		
						padding-left: 0%;
						padding-right: 0%;
						width: 100%;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt .preview-subtitle  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt .preview-body h2  { 
						line-height: 1.2em;
						font-size: 14px;
						color: rgb(236, 236, 236);
						letter-spacing: 0.0em;
						margin-right: 20px;
						margin-left: 20px;
						font-family: Oswald;
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt  .preview-content-holder  {
		
						text-align: center;
						margin-right: 0px;
						margin-top: 50px;
						margin-left: 0px;
						margin-bottom: 50px;
						background-color: rgba(246, 239, 217, 0);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt .preview-item-links span  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt #sr-basket-widget *  { 
						font-size: 16px;
						color: rgb(255, 255, 255);
						padding-bottom: 20px;
						padding-right: 25px;
						margin-top: 30px;
						padding-left: 25px;
						padding-top: 20px;
						margin-bottom: 15px;
						font-family: Arial;
						background-color: rgb(125, 34, 34);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt .preview-item-links span:hover  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt .preview-element.Link.hover-tester  { 
						background-color: rgb(0, 0, 0);
						color: rgb(255, 255, 255);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt .preview-title-holder  {
		
						text-align: left;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt .item-content:not(.blocks_layout)  {
		
						background-color: rgb(26, 54, 99);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt .preview-subtitle-holder  {
		
						text-align: center;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt .preview-body  {
		
						color: rgb(104, 104, 104);
						margin-bottom: 40px;
						font-size: 14px;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						padding-right: 0px;
						margin-top: 35px;
						padding-left: 0px;
						margin-bottom: 10px;
						width: 100px;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt .preview-social-holder  {
		
						margin-bottom: 10px;
						margin-top: 20px;
						margin-left: 5px;
						margin-right: 5px;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt .preview-body-holder  {
		
						text-align: left;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt  .preview-content-wrapper  {
		
						text-align: center;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt .stripe-background  {
		
						margin-left: 0%;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt .middle_layout .helper-div  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-dtv8a0mt .background-div  {
		
						color: rgb(0, 0, 0);	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-dc039567-3smospla
 *                                 	 
 ******************************************************************************************************/
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .title-holder  {
		
						text-align: center;	
		}
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .Title  ,  .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .Body h1  { 
						color: #8a7373;
						letter-spacing: 0.15em;
						font-family: open-sans;
						font-size: 36px;
						font-weight: bold;	
		}
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla  .preview-content-holder  {
		
						margin-right: 0px;
						padding-bottom: 0px;
						text-align: left;
						max-width: 300px;
						padding-right: 0px;
						margin-top: 20px;
						margin-left: 0px;
						padding-top: 0px;
						margin-bottom: 20px;
						border-color: rgb(60, 60, 60);
						padding-left: 0px;	
		}
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .preview-divider  {
		
						margin-bottom: 5px;
						margin-top: 5px;
						width: 10%;	
		}
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla #pagination-holder  {
		
						font-style: italic;
						font-size: 17px;
						color: rgb(76, 76, 76);
						padding-bottom: 5px;
						border-color: rgb(85, 85, 85);
						border-width: 1px;
						padding-right: 15px;
						padding-left: 15px;
						padding-top: 5px;
						margin-bottom: 40px;
						font-family: 'Times New Roman';	
		}
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .background-div  {
			
		}
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla.master.item-box   {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .preview-title  ,  .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .preview-body h1  { 
						line-height: 1.2em;
						font-size: 12px;
						text-transform: uppercase;
						color: rgb(26, 54, 99);
						letter-spacing: -0.0em;
						margin-top: 0px;
						font-family: Montserrat;	
		}
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla.master.item-box   {
		
						padding-left: 6%;
						padding-right: 6%;
						width: 88%;	
		}
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .preview-item-links span  ,  .style-38e4e702-2fxkvzeu .style-dc039567-3smospla #sr-basket-widget *  { 
						border-width: 1px;
						font-size: 12px;
						color: rgb(99, 99, 99);
						padding-bottom: 10px;
						border-color: rgb(122, 122, 122);
						letter-spacing: 0.1em;
						padding-right: 15px;
						margin-top: 15px;
						padding-left: 15px;
						padding-top: 10px;
						margin-bottom: 30px;
						font-family: Arial;
						background-color: rgba(15, 43, 67, 0);	
		}
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .blocks-preview-body  {
		
						margin-bottom: 10px;
						line-height: 1.5em;	
		}
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .stripe-background  {
		
						margin-top: -10px;
						margin-left: -6%;	
		}
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .preview-element.icon-source  {
		
						padding-top: 0px;
						margin-bottom: 0px;
						margin-top: 0px;
						width: 70px;	
		}
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .blocks-preview-content-holder  {
		
						text-align: center;
						margin-top: 35px;	
		}
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .Subtitle  ,  .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .Body h2  { 
						font-family: ralewaythin;
						font-size: 22px;	
		}
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .blocks-preview-subtitle  {
		
						font-size: 20px;
						text-transform: uppercase;
						color: rgb(0, 0, 0);
						letter-spacing: 0.0em;
						margin-top: 10px;
						margin-bottom: 10px;
						font-family: Montserrat;	
		}
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla  .preview-content-wrapper  {
		
						text-align: left;
						vertical-align: top;	
		}
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .preview-price  {
		
						font-family: Arial;	
		}
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .preview-item-links span:hover  ,  .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .subtitle-holder  {
		
						text-align: center;	
		}
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .blocks-preview-content-wrapper  {
		
						text-align: center;	
		}
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .blocks-preview-title  {
		
						margin-bottom: 10px;
						font-family: 'Playfair Display';
						margin-top: 10px;
						font-size: 27px;	
		}
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .preview-body  {
		
						font-family: Arial;
						font-size: 12px;
						color: rgb(60, 60, 60);
						max-width: 500px;
						margin-right: 0px;
						margin-top: 20px;
						margin-bottom: 10px;
						line-height: 1.5em;	
		}
	
	 .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .preview-subtitle  ,  .style-38e4e702-2fxkvzeu .style-dc039567-3smospla .preview-body h2  { 
						line-height: 1.4em;
						font-size: 12px;
						color: rgb(60, 60, 60);
						letter-spacing: 0.35em;
						margin-right: 0px;
						margin-top: 5px;
						margin-left: 0px;
						font-family: Montserrat;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-38e4e702-wnt8vsqo
 *                                 	 
 ******************************************************************************************************/
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo  .preview-content-holder  {
		
						margin-right: 0px;
						padding-bottom: 0px;
						text-align: center;
						max-width: 750px;
						padding-right: 0px;
						margin-top: 30px;
						margin-left: 0px;
						padding-top: 0px;
						margin-bottom: 45px;
						background-color: rgba(0, 0, 0, 0);
						padding-left: 0px;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .preview-divider  {
		
						margin-bottom: 20px;
						border-bottom-width: 1px;
						margin-top: 10px;
						width: 15%;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .inner-pic  {
		
						color: rgb(0, 0, 0);
						opacity: 0.54;
		    			-webkit-filter: brightness(0.6);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .preview-form .Field  {
		
						border-width: 0px;
						font-size: 14px;
						color: rgb(255, 255, 255);
						padding-bottom: 15px;
						border-color: rgb(9, 9, 9);
						max-width: 500px;
						padding-right: 10px;
						padding-left: 15px;
						padding-top: 10px;
						font-family: Raleway;
						background-color: rgba(250, 250, 250, 0.941176);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .preview-form .Field:hover  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .preview-form .Field.hover-tester:not(.placeholder-mode)  { 
						color: rgba(0, 0, 0, 0.619608);
						background-color: rgb(230, 230, 230);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .preview-form .Field:not(.placeholder-mode):not(:hover)  {
		
						color: rgb(69, 69, 69);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						padding-right: 6%;
						width: 88%;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .background-div  {
		
						opacity: 0.4;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo.master.item-box   {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .preview-title  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .preview-body h1  { 
						font-family: jaf-bernino-sans;
						font-size: 35px;
						text-transform: uppercase;
						color: rgb(0, 0, 0);
						letter-spacing: 0.0em;
						margin-top: 15px;
						margin-bottom: 10px;
						line-height: 1.1em;
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo.master.item-box   {
		
						padding-left: 0%;
						width: 100%;
						padding-right: 0%;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .preview-item-links span  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo #sr-basket-widget *  { 
						border-width: 1px;
						font-size: 12px;
						text-transform: uppercase;
						color: rgba(250, 250, 250, 0.941176);
						padding-bottom: 20px;
						border-color: rgba(250, 250, 250, 0.941176);
						letter-spacing: 0.15em;
						padding-right: 30px;
						margin-top: 20px;
						padding-left: 30px;
						border-radius: 0px;
						padding-top: 20px;
						margin-bottom: 10px;
						font-family: Montserrat;
						background-color: rgb(26, 54, 99);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .stripe-background  {
		
						margin-left: 0%;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .preview-element.icon-source  {
		
						margin-bottom: 5px;
						margin-top: 5px;
						width: 100px;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .preview-form .Field.placeholder-mode:not(:hover)  {
		
						color: rgb(73, 73, 73);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .background-image-div  {
		
						color: rgb(0, 0, 0);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .preview-item-links span:before  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .effect-tester  { 
						background-color: rgb(0, 0, 0);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .preview-body-holder  {
		
						max-width: 600px;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo  .preview-content-wrapper  {
		
						text-align: center;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .preview-item-links span:hover  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						background-color: rgb(0, 0, 0);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .preview-body  {
		
						line-height: 1.4em;
						font-size: 12px;
						text-transform: uppercase;
						color: rgb(0, 0, 0);
						letter-spacing: 0em;
						max-width: 800px;
						margin-top: 10px;
						margin-bottom: 20px;
						font-family: Arial;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .field-holder  {
			
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .middle_layout .helper-div  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .preview-subtitle  ,  .style-38e4e702-2fxkvzeu .style-38e4e702-wnt8vsqo .preview-body h2  { 
						line-height: 1.1em;
						font-size: 12px;
						text-transform: uppercase;
						color: rgb(0, 0, 0);
						letter-spacing: 0.2em;
						margin-right: 0px;
						margin-top: 10px;
						margin-left: 0px;
						margin-bottom: 10px;
						font-family: Montserrat;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



 .style-38e4e702-wnt8vsqo #vbid-38e4e702-bidaca62.inner-pic{
				
							background-position : 48.4326% 70.7436%;
					
				}


























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-38e4e702-2fxkvzeu
 *                                 	 
 ******************************************************************************************************/
	 .master .style-38e4e702-2fxkvzeu .Body  {
		
						font-size: 12px;
						max-width: 650px;
						margin-right: 20px;
						margin-left: 20px;
						margin-bottom: 10px;
						line-height: 1.4em;	
		}
	 .master .style-38e4e702-2fxkvzeu .Subtitle  ,  .master .style-38e4e702-2fxkvzeu .Body h2  { 
						font-size: 15px;
						color: rgb(110, 110, 110);
						max-width: 650px;
						letter-spacing: 0.1em;
						margin-right: 20px;
						margin-top: 15px;
						margin-left: 20px;
						margin-bottom: 15px;
						font-family: Arial;	
		}
	 .master .style-38e4e702-2fxkvzeu .quote-holder  {
		
						margin-bottom: 45px;
						margin-top: 35px;	
		}
	 .master .style-38e4e702-2fxkvzeu .subtitle-wrapper  {
		
						max-width: 1180px;	
		}
	 .master .style-38e4e702-2fxkvzeu .Title  ,  .master .style-38e4e702-2fxkvzeu .Body h1  { 
						font-size: 22px;
						color: rgb(0, 0, 0);
						max-width: 650px;
						letter-spacing: 0.05em;
						margin-right: 20px;
						margin-top: 30px;
						margin-left: 20px;
						font-family: Montserrat;	
		}
	 .master .style-38e4e702-2fxkvzeu .link-wrapper  {
		
						max-width: 1058px;	
		}
	 .master .style-38e4e702-2fxkvzeu .Quote  {
		
						margin-right: 50px;
						font-family: 'Times New Roman';
						font-size: 19px;
						margin-left: 50px;
						font-style: italic;	
		}
	 .master .style-38e4e702-2fxkvzeu .quote-author  {
		
						font-style: italic;
						font-size: 19px;
						color: rgb(124, 124, 124);
						margin-right: 50px;
						margin-top: 10px;
						margin-left: 50px;
						font-family: 'Times New Roman';	
		}
	 .master .style-38e4e702-2fxkvzeu .title-wrapper  {
		
						max-width: 1180px;	
		}
	 .master .style-38e4e702-2fxkvzeu .item-links span  {
		
						font-family: Arial;
						font-size: 13px;
						color: rgb(0, 0, 0);
						padding-bottom: 10px;
						letter-spacing: 0.1em;
						padding-right: 15px;
						margin-top: 20px;
						padding-left: 15px;
						padding-top: 10px;
						margin-bottom: 20px;
						border-width: 1px;
						background-color: rgba(66, 117, 83, 0);
						margin-left: 50px;	
		}
	
	 .master .style-38e4e702-2fxkvzeu .body-wrapper  {
		
						max-width: 1032px;	
		}
	 .style-38e4e702-2fxkvzeu.master.container > #children  {
		
						background-color: rgb(255, 255, 255);	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: jaf-bernino-sans;
				
						letter-spacing: -0.05em;
				
						line-height: 1.1em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						border-width: 0px;
				
						font-family: Abel;
				
						border-radius: 0px;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Abel;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						font-family: Abel;
				
						letter-spacing: 0.05em;
					
		}
	
	
	
			body    {
		
						background-color: rgb(243, 243, 243);
					
		}