/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-38e4e702-b7zvit0u.master.item-box    {
	padding-top: 0px;
	min-height: 503px;
} 
 #vbid-38e4e702-b7zvit0u.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-38e4e702-szbhkvxn   {
	background-position: 54.0358734130859% 100%;
}
 
 #vbid-38e4e702-yq8belfb.master.item-box    {
	padding-bottom: 0px;
	min-height: 883px;
} 
 #vbid-38e4e702-yq8belfb.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-38e4e702-p9bqyxbt.master.item-box    {
	padding-top: 40px;
	padding-bottom: 40px;
	min-height: 226px;
} 
 #vbid-38e4e702-p9bqyxbt.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-38e4e702-wwppzxxl   {
	background-size: contain;
}
 
 #vbid-38e4e702-e3jh7ydq   {
	background-position: 54.0752334594727% 91.5584411621094%;
}
 
 #vbid-38e4e702-o2wndd2l.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 296px;
}
 
 #vbid-38e4e702-5h6abd3g.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 688px;
}
 
 #vbid-38e4e702-zvaoj49r   {
	background-position: 51.9258079528809% 44.8459205627441%;
}
 
 #vbid-38e4e702-crschqdr.master.item-box    {
	min-height: 231px;
}
 
 #vbid-38e4e702-ytmlupcb   {
	background-position: 43.6865196228027% 53.7792205810547%;
}
 
 #vbid-38e4e702-t366dj74.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-38e4e702-t366dj74.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-38e4e702-tmaacxkr   {
	background-size: 92%;
}

 
 #vbid-38e4e702-hbbtztr3   {
	background-position: 50% 31.2688827514648%;
}
 
 #vbid-38e4e702-zwask8jv   {
	background-position: 51.7937202453613% 11.3861389160156%;
}
 
 #vbid-38e4e702-vvvkxkjk.master.item-box    {
	padding-top: 30px;
	padding-bottom: 30px;
	min-height: 1343px;
}
 
 #vbid-38e4e702-asbgxm4j.master.item-box    {
	min-height: 699px;
}
 
 #vbid-38e4e702-8sj6b1tt.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 310px;
}
 
 #vbid-38e4e702-n7glil9c   {
	background-position: 56.0606079101563% 100%;
}
 
 #vbid-38e4e702-rzyadpt8   {
	background-position: 46.8609848022461% 26.2973518371582%;
}
 
 #vbid-38e4e702-vhtb688c.master.item-box    {
	padding-top: 0px;
	min-height: 503px;
} 
 #vbid-38e4e702-vhtb688c.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-38e4e702-pt9xcgm1.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
} 
 #vbid-38e4e702-pt9xcgm1.item-box > .item-wrapper    {
	max-width: 1416px;
}
 
 #vbid-38e4e702-usivsgxz   {
	background-position: 53.9237670898438% 51.5926666259766%;
}
 
 #vbid-38e4e702-z0nzkyl4.master.item-box    {
	padding-top: 0px;
	padding-bottom: 35px;
	min-height: 1343px;
} 
 #vbid-38e4e702-z0nzkyl4.item-box > .item-wrapper    {
	max-width: 1168px;
}
 
 #vbid-38e4e702-7ckacyn6   {
	background-position: 49.8955078125% 0.613496959209442%;
}
 
 #vbid-38e4e702-vxypnjbf.master.item-box    {
	min-height: 386px;
}
 
 #vbid-38e4e702-gsobogma.master.item-box    {
	min-height: 773px;
}
 
 #vbid-38e4e702-7zpk0aug.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 392px;
}
 
 #vbid-38e4e702-9kytgii5   {
	background-position: 51.3452911376953% 16.8316841125488%;
}
 
 #vbid-38e4e702-trikaciz.master.item-box    {
	min-height: 231px;
}
 
 #vbid-38e4e702-daije12g.master.item-box    {
	padding-top: 40px;
	padding-bottom: 40px;
} 
 #vbid-38e4e702-daije12g.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-38e4e702-mtzpazwb.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-38e4e702-mtzpazwb.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-38e4e702-cxqgn8ua.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-38e4e702-cxqgn8ua.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-38e4e702-btrzywdj   {
	background-position: 48.4326019287109% 71.0374603271484%;
}
 
 #vbid-38e4e702-vkawvddv   {
	background-position: 50.5673980712891% 54.6576156616211%;
}
 
 #vbid-38e4e702-ttgrf5ot   {
	background-size: contain;
}
 
 #vbid-38e4e702-lpunv6jk.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 802px;
}
 
 #vbid-38e4e702-hw16xaoa   {
	background-position: 45.6293716430664% 22.344690322876%;
}
 
 #vbid-38e4e702-opzsjbke.master.item-box    {
	padding-top: 15px;
}
 
 #vbid-38e4e702-dw7bbshb.master.item-box    {
	min-height: 323px;
}
 
 #vbid-38e4e702-hblottkw.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 94px;
} 
 #vbid-38e4e702-hblottkw.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-38e4e702-jzl6vm1k.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-38e4e702-jzl6vm1k.item-box > .item-wrapper    {
	max-width: 1144px;
}
 
 #vbid-dc039567-n2wjdbjf.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-dc039567-n2wjdbjf.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-38e4e702-cixqkd3h.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-38e4e702-cixqkd3h.item-box > .item-wrapper    {
	max-width: 1144px;
}
 
 #vbid-38e4e702-ekazarni.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 385px;
}
 
 #vbid-38e4e702-dbvtobb6.master.item-box    {
	padding-top: 0px;
	min-height: 767px;
}
 
 #vbid-38e4e702-mr2w3b46.master.item-box    {
} 
 #vbid-38e4e702-mr2w3b46.master.item-box    {
	min-height: 365px;
}
 
 #vbid-38e4e702-nvfqfcxf   {
	background-position: 48.6415901184082% 18.5064926147461%;
}
 
 #vbid-80d758d3-n2wjdbjf.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-80d758d3-n2wjdbjf.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-38e4e702-d1zka3xb   {
	background-position: 48.2062797546387% 23.9910316467285%;
}
 
 #vbid-38e4e702-fj0tttzo   {
	background-position: 46.9696960449219% 89.3939361572266%;
}
 
 #vbid-38e4e702-u50cvh0c   {
	background-position: 41.9580421447754% 0%;
}
 
 #vbid-38e4e702-lrdlmkzy   {
	background-position: 47.9101371765137% 31.5561962127686%;
}
 
 #vbid-38e4e702-fqfwind3.master.item-box    {
	padding-top: 60px;
	padding-bottom: 80px;
	min-height: 1343px;
} 
 #vbid-38e4e702-fqfwind3.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-38e4e702-yadbffgv.master.item-box    {
	min-height: 603px;
}
 
 #vbid-38e4e702-ecfh9av4.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 427px;
}
 
 #vbid-38e4e702-sfaidbgl.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
}
 
 #vbid-38e4e702-vtqulvbz   {
	background-size: contain;
}
 
 #vbid-38e4e702-yawev5i1.master.item-box    {
	padding-top: 70px;
	padding-bottom: 60px;
	min-height: 202px;
} 
 #vbid-38e4e702-yawev5i1.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-38e4e702-bmwulk6x   {
	background-position: 36.0986557006836% 48.3706703186035%;
}
 
 #vbid-38e4e702-efo52ej5   {
	background-position: 23.3408069610596% 0%;
}
 
 #vbid-38e4e702-mhgstpg0   {
	background-position: 48.6415901184082% 26.6233768463135%;
}
 
 #vbid-38e4e702-q6ioac83.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-38e4e702-q6ioac83.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-38e4e702-qaukmpy8   {
	background-position: 12.0986547470093% 42.2062797546387%;
}
 
 #vbid-38e4e702-7cbztaii.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 897px;
}
 
 #vbid-38e4e702-kofpcbl6.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-38e4e702-kofpcbl6.item-box > .item-wrapper    {
	max-width: 1270px;
}
 
 #vbid-38e4e702-1t7ajp9r.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 496px;
}
 
 #vbid-38e4e702-vstgc0ge   {
	background-position: 44.2089881896973% 48.3110046386719%;
}
 
 #vbid-38e4e702-ipago2ca.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 284px;
}
 
 #vbid-38e4e702-heqdbwq5.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
	min-height: 202px;
} 
 #vbid-38e4e702-heqdbwq5.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-38e4e702-xc8t5nrl   {
	background-position: 51.8808784484863% 24.1324920654297%;
}